// Methods
$_color-post: #000;
$_color-get: #000;
$_color-put: #000;
$_color-delete: #000;
$_color-head: #000;
$_color-patch: #000;
$_color-disabled: #ebebeb;
$_color-options: #000;

$methods: (post: $_color-post),(get: $_color-get), (put: $_color-put),(delete: $_color-delete),(head: $_color-head),(patch: $_color-patch),(deprecated: $_color-disabled),(options: $_color-options)
